In [5]:
import numpy as np
import os
from numpy.random import default_rng
import matplotlib
import matplotlib.pyplot as plt

plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

In [7]:
import pandas as pd

def load_data(csv_path):
    employee_survey = pd.read_csv(os.path.join(csv_path, "employee_survey_data.csv"))
    in_time = pd.read_csv(os.path.join(csv_path, "in_time.csv"))
    out_time = pd.read_csv(os.path.join(csv_path, "out_time.csv"))
    manager_survey = pd.read_csv(os.path.join(csv_path, "manager_survey_data.csv"))
    general_data = pd.read_csv(os.path.join(csv_path, "general_data.csv"))

    temp = pd.merge(general_data, manager_survey, on="EmployeeID")
    dataset = pd.merge(temp, employee_survey, on="EmployeeID")
    return dataset

In [8]:
dataset = load_data("./Data")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,6,1,0,0,3,3,3.0,4.0,2.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,6.0,3,5,1,4,2,4,3.0,2.0,4.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,5.0,2,5,0,3,3,3,2.0,2.0,1.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,13.0,5,8,7,5,2,3,4.0,4.0,3.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,9.0,2,6,0,4,3,3,4.0,1.0,3.0